@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins';
    margin: 0 20%;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 30px 0px;
}
.razmak {
    display: flex;
    gap: 20px;
}
.text {
    border: none;
    outline: none;
    flex:1;
}
.input {
    box-shadow: 0 0px 0 1px black;
    padding:5px;
    border-radius:10px;
    display:flex;
    place-items:center;
}


.kategorija:hover{
    transform:scale(0.96);
    box-shadow:2px 0 10px 3px rgba(0,0,0,0.7);
}

